# Copy this file and rename to .env, then populate it with your own keys

# DO NOT COMMIT THIS EXAMPLE FILE WITH YOUR OWN API KEYS BECAUSE THEY WILL BE MADE PUBLIC

TRIGGER_API_URL=https://cloud.trigger.dev
TRIGGER_API_KEY=

## Github
GITHUB_TOKEN=

## Google Credentials
## Create service account https://cloud.google.com/iam/docs/service-account-overview
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

## Google Sheets
SPREADSHEET_ID=

## Salesforce
SF_LOGIN_URL=https://login.salesforce.com
SF_USERNAME=
SF_PASSWORD=
SF_TOKEN=

## Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

## Shopify
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_HOSTNAME=

## Hubspot
HUBSPOT_ACCESS_TOKEN=

## Twitter (X)
X_CONSUMER_KEY=
X_CONSUMER_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=

## Cal.com
CAL_API_KEY=

# Asana
ASANA_ACCESS_TOKEN=

## DeepL
DEEPL_AUTH_KEY=
DEEPL_BASE_URL=https://api-free.deepl.com/v2/

# Stability
STABILITY_API_KEY=

## Todoist
TODOIST_API_TOKEN=

## Svix
SVIX_API_KEY=

## ZBD
ZBD_API_KEY=
# ZBD_BASE_URL=https://api.zebedee.io # Production
ZBD_BASE_URL=https://sandbox-api.zebedee.io

## Brex
BREX_API_KEY=
BREX_BASE_URL=https://platform.brexapis.com/v2

## HUGGING FACE
HUGGING_FACE_API_KEY=

## Discord
DISCORD_BOT_TOKEN=

## Novu
NOVU_API_KEY=

## Loops
LOOPS_BASE_URL=https://app.loops.so/api/v1
LOOPS_API_KEY=

## SNYK
SNYK_BASE_URL=https://api.snyk.io/v1
SNYK_AUTH_TOKEN=
